<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Z-ACADEMY</title>
</head>
<body>
    <h1>Add Time Table</h1>
    <form>
        <label>From :</label>
        <input type="text" name="form">
        <label>Teacher :</label>
        <select>
            <option>Please Select</option>
            <% teacher.forEach(t => { %>
                <option value="<%= t._id %>"><%= t.teacherName %></option>
            <% }) %>
        </select>
        <label>Subject :</label>
        <select>
            <option>Please Select</option>
            
        </select>
        <button type="submit">Add</button>
    </form>

</body>
</html>