<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Z-ACADEMY</title>
</head>
<body>
    <h1>Add Assignment</h1>
    <form action="/teacher/addAssignment" enctype="multipart/form-data" method="POST">
        <label>Add File</label>
        <input type="file" multiple name="files">
        <button type="submit">Submit</button>
    </form>
</body>
</html>