<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Z-ACADEMY</title>
</head>
<body>
    <h1>Add Category</h1>
    <form action="/library/addCategory" method="POST">
        <p>
            <label>Category Name:</label>
            <input type="text" name="categoryName">

            <button type="submit">Add</button>
        </p>
    </form>
    <hr>
    <h1>View Book Category</h1>
    <% if(!category){ %>
        <p>Something went wrong</p>
    <% }else { %>
        <% let categoryArr = Object.values(category) %>
        <table>
            <thead>
                <th>Category Name</th>
                <th>Status</th>
            </thead>
            <% categoryArr.forEach(c => { %>
              <tbody>
                <tr>
                    <td><%= c.categoryName %></td>
                    <td><%= c.categoryStatus %></td>
                    <td>
                        <a href="/library/getCategory/<%= c._id %>">
                            <button type="submit">Edit</button>
                        </a>
                    </td>
                    <td>
                        <button type="submit">Delete</button>
                    </td>
                </tr>
              </tbody>  
            <% }) %>
        </table>
    <% } %>

</body>
</html>